@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --qtimuikit-bnw-0: #101010;
  --qtimuikit-bnw-1: #232323;
  --qtimuikit-bnw-2: #868686;
  --qtimuikit-bnw-3: #F3F3F3;
  --qtimuikit-bnw-4: #FFFFFF;

  --qtimuikit-teal: #9EFFBF;
  --qtimuikit-deeppurple: #7941A7;
  --qtimuikit-lightpurple: #E2BEFF;
  --qtimuikit-mediumblue: #1059C8;
}
